nav {
    background-image: url('spacedogbackground.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
 
body {
  font-family: Arial, sans-serif;
  color: #343a40; 
}


.navbar {
  background-color: #343a40; 
}

.navbar-brand img {
  width: 100px; 
  height: auto; 
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: lightgrey;
}


.jumbotron {
  background-color: #f8f9fa; 
  padding: 100px 0; 
}

.jumbotron h1 {
  color: #343a40; 
  font-size: 36px; 
  font-weight: bold; 
}

.jumbotron p {
  color: #6c757d; 
  font-size: 18px; 
}


.container {
  margin-top: 50px; 
}

.container h2 {
  color: #343a40; 
  font-size: 24px; 
  font-weight: bold; 
}

.container p {
  color: #6c757d; 
  font-size: 16px; 
}


.footer {
  background-color: #343a40; 
  color: white;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#form {
  text-align: center;
}


#form {
  margin-top: 50px; 
}

#email {
  width: 300px; 
  padding: 10px;
  margin-right: 10px; 
}

#submit {
  padding: 10px 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  cursor: pointer;
}

#submit:hover {
  background-color: #0056b3; 
}





@media (max-width: 768px) {
  .jumbotron {
      padding: 50px 0; 
  }

  .container {
      margin-top: 30px; 
  }
}




}







